@import url('defs.css');

#background {
    position: relative;
    height: 100vh; width: 100vw;
    overflow: hidden;
}

#container {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    overflow: hidden;
}

#background::before {
    content: "";    
    position: absolute;
    top: -25vh;
    left: -25vw;
    width: 150vw;
    height: 150vh;
    background-image: url('../assets/img/tile.svg');
    background-repeat: repeat;
    background-size: 64px;
    animation: animateBackground 12s linear infinite;
    z-index: -2;
    rotate: 10deg;
}

/*#background::after {
    content: "";
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
    background-image: url('../assets/img/tile.svg');
    background-repeat: no-repeat;
    background-size: 10vw;
    animation: animateLargeBackground 12s linear infinite;
    z-index: -2;
    rotate: 10deg;
}*/

@keyframes animateBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 192px 128px;
    }
}
/*
@keyframes animateLargeBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40vw 30vw;
    }
}*/

html {
    color: white;
    font-family: sans-serif;
}

h1 {
    margin: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(18, 18, 18, 0.99);
    display: flex;
}

header h1 {
    flex: auto;
    font-size: 2rem;
    height: 2rem;
}

header ul {
    margin: 0;
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 0;
    height: 1.5rem;
    padding: 0.25rem;
}

header ul li a {
    font-size: 1.5rem;
    height: 1.5rem;
    text-decoration: none;
}

#content {
    position: absolute;
    left: 5vw;
    right: 5vw;
    top: 10vw;
    bottom: 0;
}

table {
    position: absolute;
    margin: 5vw;
    margin-top: 2vw;
    width: 80vw;
}

table td {
    width: 30vw;
    height: 20vw;
}

table td a {
    background-color: #202020;
    height: calc(20vw - 2rem);
    border-radius: 1rem;
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: white;
}

.sep {
    width: 10vw;
    background: none;
}

h2 {
    margin: 0;
}